.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - 32px -1px);
  min-width: calc(100% - 20px);
  margin: 24px 16px 0px 16px;
  user-select: text;
}

.col {
  margin-left: 55px;
  padding-right: 10px;
}
